fastapi
uvicorn
pandas
yfinance
pydantic
pydantic-settings
requests
redis
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
openpyxl
fastapi
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
alembic
